.custom-header {
    background-color: #003153;
    opacity: 0.8;
}

.color--white {
    color: #fff;
}

.link--highlight:link,
.link--highlight:visited {
    color: #fff !important;
    text-decoration: none !important;
    transition: color 0.2s;
}

.link--highlight:hover,
.link--highlight:active {
    color: rgba(255, 255, 255, 0.705) !important;
    text-decoration: none !important;
}